USE [master]
GO
/****** Object:  Database [BusDB]    Script Date: 12/7/2021 8:09:23 PM ******/
CREATE DATABASE [BusDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BusDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BusDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BusDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BusDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusDB]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 12/7/2021 8:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[id_no] [int] NOT NULL,
	[bus_no] [int] NULL,
	[cus_no] [int] NULL,
 CONSTRAINT [PK_booking] PRIMARY KEY CLUSTERED 
(
	[id_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[busTB]    Script Date: 12/7/2021 8:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[busTB](
	[bus_no] [int] NOT NULL,
	[source] [nvarchar](50) NULL,
	[destination] [nvarchar](50) NULL,
	[date] [date] NULL,
	[time] [time](7) NULL,
	[route_no] [int] NULL,
	[price] [int] NULL,
	[seat] [int] NULL,
 CONSTRAINT [PK_busTB] PRIMARY KEY CLUSTERED 
(
	[bus_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[customerTB]    Script Date: 12/7/2021 8:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customerTB](
	[cus_no] [int] NOT NULL,
	[f_name] [nvarchar](50) NULL,
	[l_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_customerTB] PRIMARY KEY CLUSTERED 
(
	[cus_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[driver]    Script Date: 12/7/2021 8:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driver](
	[d_no] [int] NOT NULL,
	[bus_no] [int] NULL,
	[name] [nvarchar](50) NULL,
	[phone] [int] NULL,
 CONSTRAINT [PK_driver] PRIMARY KEY CLUSTERED 
(
	[d_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[employeeTB]    Script Date: 12/7/2021 8:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employeeTB](
	[emp_no] [int] NOT NULL,
	[f_name] [nvarchar](50) NULL,
	[l_name] [nvarchar](50) NULL,
	[phone] [int] NULL,
 CONSTRAINT [PK_employeeTB] PRIMARY KEY CLUSTERED 
(
	[emp_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[paymentTB]    Script Date: 12/7/2021 8:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentTB](
	[pay_no] [int] NOT NULL,
	[cus_no] [int] NULL,
	[emp_no] [int] NULL,
 CONSTRAINT [PK_paymentTB] PRIMARY KEY CLUSTERED 
(
	[pay_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[routeTB]    Script Date: 12/7/2021 8:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routeTB](
	[route_no] [int] NOT NULL,
	[route_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_routeTB] PRIMARY KEY CLUSTERED 
(
	[route_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[station]    Script Date: 12/7/2021 8:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[station](
	[st_no] [int] NOT NULL,
	[route_no] [int] NULL,
	[st_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_station] PRIMARY KEY CLUSTERED 
(
	[st_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [FK_booking_busTB] FOREIGN KEY([bus_no])
REFERENCES [dbo].[busTB] ([bus_no])
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [FK_booking_busTB]
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [FK_booking_customerTB] FOREIGN KEY([cus_no])
REFERENCES [dbo].[customerTB] ([cus_no])
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [FK_booking_customerTB]
GO
ALTER TABLE [dbo].[busTB]  WITH CHECK ADD  CONSTRAINT [FK_busTB_routeTB] FOREIGN KEY([route_no])
REFERENCES [dbo].[routeTB] ([route_no])
GO
ALTER TABLE [dbo].[busTB] CHECK CONSTRAINT [FK_busTB_routeTB]
GO
ALTER TABLE [dbo].[driver]  WITH CHECK ADD  CONSTRAINT [FK_driver_busTB] FOREIGN KEY([bus_no])
REFERENCES [dbo].[busTB] ([bus_no])
GO
ALTER TABLE [dbo].[driver] CHECK CONSTRAINT [FK_driver_busTB]
GO
ALTER TABLE [dbo].[paymentTB]  WITH CHECK ADD  CONSTRAINT [FK_paymentTB_customerTB] FOREIGN KEY([cus_no])
REFERENCES [dbo].[customerTB] ([cus_no])
GO
ALTER TABLE [dbo].[paymentTB] CHECK CONSTRAINT [FK_paymentTB_customerTB]
GO
ALTER TABLE [dbo].[paymentTB]  WITH CHECK ADD  CONSTRAINT [FK_paymentTB_employeeTB] FOREIGN KEY([emp_no])
REFERENCES [dbo].[employeeTB] ([emp_no])
GO
ALTER TABLE [dbo].[paymentTB] CHECK CONSTRAINT [FK_paymentTB_employeeTB]
GO
ALTER TABLE [dbo].[station]  WITH CHECK ADD  CONSTRAINT [FK_station_routeTB] FOREIGN KEY([route_no])
REFERENCES [dbo].[routeTB] ([route_no])
GO
ALTER TABLE [dbo].[station] CHECK CONSTRAINT [FK_station_routeTB]
GO
USE [master]
GO
